* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

#menu {
	margin-top: 0;
}

#menu ul {
	list-style: none;
}

#menu li {
	display: inline;
}

#menu li a {
	display: inline-block;
	padding: 10px;
	letter-spacing: 1px;
	font-size: 1.3em;
	font-family: sans-serif;
	text-decoration: none;
	background-color: #555;
	color: #fff;
}

#menu li a:hover {
	background-color: #f50;
}

#conteudo {
	width: 800px;
	margin: 70px auto;
	font-family: sans-serif;
}

h1 {
	color: #1f31c1;
	padding-bottom: 15px;
}

input[type="text"],textarea,#enviar,label {
	font-size: 1.5em;
}

input[type="text"],textarea {
	border: 1px solid #ccc;
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	color: #1f31c1;
	display: block;
}

#enviar {
	border: 1px solid #1f31c1;
	background-color: #1f31c1;
	color: #fff;
	padding: 5px;
}

#msg {
	display: block;
	color: #f00;
	font-size: 1em;
	font-family: arial;
	padding: 10px
}

fieldset {
	border: none;
	text-align: left;
}

fieldset label {
	display: block;
	padding: 10px 2px;
	color: #1f31c1;
}

table {
	width: 100%;
	text-align: left;
}

table th {
	background-color: #1f31c1;
	color: #fff;
	padding: 6px;
}

table td {
	padding: 5px;
}

table tbody tr:hover {
	background-color: #ffa;
}

.lista_zebrada {
	background-color: #eee;
}

.assunto {
	padding: 5px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	letter-spacing: 2px;
}

.assunto:hover {
	color: #fff;
	background-color: #f50;
}

#comentarios .excluir {
	padding: 2px;
	border: none;
	background-color: #e00;
	color: #eee;
}

#detalhe {
	font-family: sans-serif;
	margin: 70px auto;
	width: 400px;
	text-align: left;
}

#detalhe label {
	font-size: 1em; 
	font-weight : bold;
	width: 100px;
	display: inline-block;
}

#detalhe span {
	font-style: italic;
}

